html {
    height: auto;
    background-color: aliceblue;
}

/* Canvas and animations */
#canvas1 {
    position: absolute;
    opacity: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    /* background: radial-gradient(#EAECEE, #EAECEE) */

}

#canvas2 {
    position: absolute;
    justify-content: center;
}

/* Structural Elements */
body {
    background-color: aliceblue;
    /* background-image: url(/logs/Sloth.png); */
    background-size: cover;
    /* background-repeat: no-repeat;stops the image repeating down the page */
    opacity: 100%;
    /* background-color: rgb(43, 168, 226); */
    /* padding-top: 200px; */
}

header {
    padding-top: 2.5%;
    opacity: 100%;
    height: 550px;
    text-align: center;
    padding-bottom: 150px

    /* current physical but adaptive to be used later */

}

nav {
    background-color: transparent;
    text-align: center;
    padding-top: 10px;
}

.navbar-trans {
    background-color: transparent;
}

.navbar-trans.scrolled {
    background-color: aliceblue !important;
    transition: background-color 200ms linear;
}

.navbar-collapsing {
    background-color: aliceblue
}


.nav-link:hover {
    color: rgba(0, 100, 0, 0.7);
    font-weight: 700;
    border-bottom: 2px solid rgba(0, 100, 0, 0.7);
    transition: 200ms linear;

}



main {

    /* height: 500px; */
    text-align: left;
    /* padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px; */

}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.amct {
    text-align: center;
}



footer {

    /* background-color: rgba(205, 248, 255, 0.247); */
    height: 300px;
    text-align: center;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;

}



/* text formatting and font formatting elements  */

h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

h2 {
    color: black;
    position: relative;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    ;
}

h4 {
    color: gray;
}

.h1blog {
    color:black;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    justify-content: center;
    

}

h4>a {
    color: gray;
}

h5 {
    color: gray;
    font-size: 15px;
    font-weight: 700;
}

h5>a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: darkgreen;
}

p {
    color: darkslategray;
    font-size: 18px;
    position: relative;
    font-weight: 600;
}

.p1 {
    color: slategray;
    display: none;
}

.p2 {
    color: slategray;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;

}

/* image formatting */
img {
    position: relative;
}

.cimage-large {
    height: 300px;
    width: 300px;
    padding: auto;
    z-index: 1;
    /* margin-bottom: 300px; */
}

.cimage-small {
    height: 50px;
    width: 50px;
}

.cimage-med {
    height: 200px;
    width: 200px;
    justify-content: center;
}

.cimage-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
}



.scroll-container {
    width: 5%;
    margin: auto;
    height: 150px;
}

.title {
    margin: auto;
    padding-bottom: 10px;

}

.scroll {
    display: block;
}

a {
    color: rgb(50, 115, 255);
}


/* Social icon styling */
.fa {
    padding: 12.5px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #EAECEE;
    background: grey;
    border-radius: 50%;
}

.fa-brands {
    padding: 12.5px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #EAECEE;
    background:grey;
    border-radius: 50%;
}

.lboro_icon {
    padding: 8px;
    font-size: 25px;
    width: 50px;
    height:50px;
    text-align: center;
    text-decoration: none;
    color: #EAECEE;
    background:grey;
    border-radius: 50%;
    margin-bottom: 10px;  
}


/* Hover for fa elements FA */
/* .fa:hover {
    opacity: 0.5;
    color: white;
    transition: 850ms;
} */

.fa:hover {
    opacity: 0.5;
    color: white;
    transition: 850ms;
}

.fa-brands:hover {
    opacity: 0.9;
    color: white;
    transition: 850ms;
}
.fa-linkedin:hover { 
    opacity: 0.9;
    background: #069;
    transition: 850ms;
}

.fa-github:hover { 
    opacity: 0.9;
    background: black;
    transition: 850ms;
}

.fa-researchgate:hover { 
    opacity: 0.9;
    background: #00CCBB;
    transition: 850ms;
}

.fa-envelope:hover { 
    opacity: 0.9;
    background: darkgreen;
    transition: 850ms;
}

.fa-instagram:hover { 
    opacity: 0.9;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    transition: 850ms;
}

.lboro_icon:hover { 
    opacity: 0.9;
    background: rgb(52, 15, 99);
    transition: 850ms;
}

/* blog */


* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 2rem;
    color: #414b56;
}

/* Basic design of blog card - sets organisation and justification*/
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Blog post card design */
.card {
    overflow: hidden;
    box-shadow: 0px 2px 20px #d7dfe2;
    /* Card outline shadow */
    background: rgb(231, 244, 255);
    /* post background color */
    border-radius: 0.5rem;
    position: relative;
    width: 350px;
    /* post card width */
    margin: 1rem;
    transition: 250ms all ease-in-out;
    cursor: pointer;
}

.card:hover {
    /* blog post hover */
    transform: scale(1.03);
    box-shadow: 0px 2px 40px #d7dfe2;
    transition: 1500ms;
    background: rgb(182, 222, 255);
}

/*Design banner image*/
.banner-img {
    position: absolute;
    object-fit: cover;
    height: 14rem;
    /* image height */
    width: 100%;
}

/* Design catagory text */
.category-tag {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    /* text color */
    background: rgba(10, 161, 86, 0.767);
    /* text background color */
    padding: 0.5rem 1.3rem 0.5rem 1rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 1rem;
    border-radius: 2rem 2rem 2rem 2rem;
}

/* 1st catagory text background color */
.New {
    background: #ef257a;
}

/* 2st catagory text background color */
.technology {
    background: #651fff;
}

/* 3st catagory text background color */
.psychology {
    background: #e85808;
}

/* Design of # tags, heading, description starts from here */
.card-body {
    margin: 15rem 1rem 1rem 1rem;
}

/* #tags design */
.blog-hashtag {
    font-size: 0.9rem;
    font-weight: bold;
    color: #4d97b2;
}

/* heading design */
.blog-title {
    line-height: 2rem;
    margin: 1rem 0 0.5rem;
}

/* description design */
.blog-description {
    color: #616b74;
    font-size: 0.9rem;
}

/*Design of profile image, name, date and other details starts from here*/
.card-profile {
    display: flex;
    margin-top: 2rem;
    align-items: center;
}

/* Profile image */

.profile-img {
    width: 60px;
    /* image width */
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.card-profile-info {
    margin-left: 1rem;
}

/* profile name */
.profile-name {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

/*date of post*/
.date {
    color: #616b74;
    font-size: 0.8rem;
}



/* Media queries here */

@media (max-width: 992px) {
    .navbar-nav {
        background-color: aliceblue;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #canvas1 {
        position: absolute;
        opacity: 50%;
        top: 0;
        left: 0;
        width: 100%;
        height: 675px;
        background: radial-gradient(#EAECEE, aliceblue)
    }
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #canvas1 {
        position: absolute;
        opacity: 50%;
        top: 0;
        left: 0;
        width: 100%;
        height: 600px;
        background: radial-gradient(#EAECEE, aliceblue)
    }

    .p1 {
        color: slategray;
        display: block;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #canvas1 {
        position: absolute;
        opacity: 50%;
        top: 0;
        left: 0;
        width: 100%;
        height: 675px;
        background: radial-gradient(#EAECEE, aliceblue)
    }

    .tl_container {
        padding-top: min(150px)
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #canvas1 {
        position: absolute;
        opacity: 50%;
        top: 0;
        left: 0;
        width: 100%;
        height: 575px;
        background: radial-gradient(#EAECEE, aliceblue)
    }

    .title-about_me {
        padding-top: 25px;
    }

    .amct {
        text-align: left;
    }
}